/* Colores base */
:root {
    --color-fondo: #ffffff; /* Fondo */
    --color-texto: #ffffff; /* Texto */
    --color-textotabla: #000000; /* Texto */
    --color-enlace: #ff007c; /* Color de los enlaces */
    --color-boton: #ffaa65; /* Color de los botones */
    --color-boton-hover: #ff8724; /* Hover del botón = poner el ratón encima*/
    --color-tablaborde: #ff8724;
    --color-tablafondo: #ffcba1;
    --color-tablafondoencabezado: #ffaa65;
}

/* Estilos generales */
body {
    font-family: 'Baskerville', serif;
    /*background-color: var(--color-fondo);*/
    background-image: url("image/background.jpg");
    color: var(--color-texto);
    margin: 0;
    padding: 20px;
    font-weight: bold;
}

/* Encabezados */
h1 {
    color: var(--color-boton-hover);
    text-align: center;
}
h2, h3 {
    color: var(--color-texto);
    text-align: center;
}

/* Enlaces */
a {
    color: var(--color-enlace);
    text-decoration: none;
}

a:hover {
    /*text-decoration: underline; /*cuando el ratón está encima se subraya*/
}

/* Botones */
.button {
    background-color: var(--color-boton);
    color: var(--color-textotabla);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--color-boton-hover);
}

/* Contenedor de botones */
.button-container {
    display: flex; /* Utiliza flexbox para el alineamiento */
    justify-content: center; /* Centrar horizontalmente */
    margin: 20px 0; /* Margen superior e inferior */
}

.button-container a {
    margin: 0 10px; /* Espaciado horizontal entre botones */
}

/* Estilos para la tabla */
table {
    background-color: var(--color-tablafondo);
    border-collapse: collapse; /* Colapsar bordes */
    width: 600px; /* Ancho de la tabla */
    margin: 20px auto; /* Centrar la tabla */
    color: var(--color-textotabla)
}

th, td {
    border: 1px solid var(--color-tablaborde); /* Bordes */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alinear texto al centro */
}

th {
    background-color: var(--color-tablafondoencabezado); /* Fondo para encabezados */
}


/* Estilos de formularios */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: var(--color-boton);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--color-boton-hover);
}

form{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

